<div class="clubs-wrapper">
  <div class="clubs-location-filter">
    <div class="location">Top clubs around you</div>
    <img class="dd-icon" src='../assets/images/dd-icon.png' />
  </div>
  <div class="clubs">
    <a class="club" routerLink="/club">
      <div class="club-title">Paratha Places</div>
      <div class="club-info">
        <span>10 members, </span>
        <span>2k views</span>
      </div>
    </a>
    <a class="club" routerLink="/club">
      <div class="club-title">Two step meals</div>
      <div class="club-info">
        <span>10 members, </span>
        <span>2k views</span>
      </div>
    </a>
    <a class="club" routerLink="/club">
      <div class="club-title">Indo Chinese</div>
      <div class="club-info">
        <span>10 members, </span>
        <span>2k views</span>
      </div>
    </a>
    <a class="club" routerLink="/club">
      <div class="club-title">South Indian Breakfast</div>
      <div class="club-info">
        <span>10 members, </span>
        <span>2k views</span>
      </div>
    </a>
    <a class="club" routerLink="/club">
      <div class="club-title">Meatless Options</div>
      <div class="club-info">
        <span>10 members, </span>
        <span>2k views</span>
      </div>
    </a>
  </div>
</div>
